<!-- <router-outlet></router-outlet> -->
<main>
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h1>Bitcoin price tracker</h1>
        <h5>Data is being updated every 10 seconds</h5>
      </div>
    </div>
    <div class="row">
      <div class="bitcoin-image">
        <img src="assets/images/bitcoin.png" alt="">
      </div>
    </div>
    <div class="row">
      <div class="data-cover">
        <div *ngIf="currentCurrency == 'GBP'" class="data-block col-12 col-md-4" id="GDP">
          <div class="data" [style.background-color]="priceChangeColor">
            <p>{{priceGBP}}£</p>
          </div>
          <div class="currency-input">
            <select [(ngModel)]="currentCurrency" class="form-select currency-select" name="currency" id="currency">
              <option *ngFor="let currency of currencyOptions" value={{currency.value}}>{{currency.name}}</option>
            </select>
          </div>    
        </div>

        <div *ngIf="currentCurrency == 'EUR'" class="data-block col-12 col-md-4" id="EUR">
          <div class="data" [style.background-color]="priceChangeColor">
            <p>{{priceEUR}}€</p>
          </div>
          <div class="currency-input">
            <select [(ngModel)]="currentCurrency" class="form-select currency-select" name="currency" id="currency">
              <option *ngFor="let currency of currencyOptions" value={{currency.value}}>{{currency.name}}</option>
            </select>
          </div>    
        </div>

        <div *ngIf="currentCurrency == 'USD'" class="data-block col-12 col-md-4" id="USD">
          <div class="data" [style.background-color]="priceChangeColor">
            <p>{{priceUSD}}$</p>
          </div>
          <div class="currency-input">
            <select [(ngModel)]="currentCurrency" class="form-select currency-select" name="currency" id="currency">
              <option *ngFor="let currency of currencyOptions" value={{currency.value}}>{{currency.name}}</option>
            </select>
          </div>    
        </div>
      </div>
    </div>
    <div class="row">
      <div class="past-data">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Time</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody *ngIf="currentCurrency == 'EUR'">
            <tr *ngFor="let data of pastDataEUR" [style.background-color]="data.color">
              <td>{{data.time}}</td>
              <td>{{data.price}}€</td>
            </tr>
          </tbody>
          <tbody *ngIf="currentCurrency == 'USD'">
            <tr *ngFor="let data of pastDataUSD" [style.background-color]="data.color">
              <td>{{data.time}}</td>
              <td>{{data.price}}$</td>
            </tr>
          </tbody>
          <tbody *ngIf="currentCurrency == 'GBP'">
            <tr *ngFor="let data of pastDataGBP" [style.background-color]="data.color">
              <td>{{data.time}}</td>
              <td>{{data.price}}£</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>